.user {
    display: flex;
    background-color: rgb(210, 148, 67);
    border-radius: 0.4em;
    border-style: solid;
    border-color: rgb(138, 97, 44);
    border-width: 0.2em;
    width: 21.5em;
}

.user-avatar {
    border-radius: 0.2em;    
}

.user-data {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}